.loader {
    font-size: 50px;
    width: 2em;
    height: 6em;
    color: #a0a0a0;

    .paw {
        width: 1em;
        height: 1em;
        opacity: 1;

        svg {
            width: 100%;
            height: 100%;
        }

        .icon {
            fill: currentColor;
        }

        &:nth-child(odd) {
            transform: rotate(-10deg);
        }

        &:nth-child(even) {
            transform: rotate(10deg) translate(125%, 0);
        }

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                animation-delay: #{(($i * -1)+6) * 0.25}s;
            }
        }

        .no-cssanimations & {
            opacity: 1;
        }
    }
}

.loader .paw :global {
    animation: 2050ms pawAnimation ease-in-out infinite;
}

@keyframes :global(pawAnimation) {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
